<div class="col-md-6">
  <h2 class="text-center">Edit Post</h2>
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Post title:</label>
      <input type="text" formControlName="title" placeholder="" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="body">Post body:</label>
      <input formControlName="body" placeholder="" name="body" class="form-control" id="body">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
