<div class="col-md-6">
  <h2 class="text-center">Add Post</h2>
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Post Title:</label>
      <input type="title" formControlName="title" placeholder="" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="body">Post Body:</label>
      <input formControlName="body" placeholder="" name="body" class="form-control" id="body">
    </div>

    <button class="btn btn-success">Save</button>
  </form>
</div>
